a {
  text-decoration: none;
}

@media (max-width: 670px) {
  body{
    width: 480px;
  }
}

a:hover {
  background-color: rgba(255,0,255,0.3);
}

.slider img{
    width: 800px;
    height: 500px;
}

.kakudai_shukusho img {
  width: 100px;
  height: 100px;
  transition: 2s;
}

.kakudai_shukusho img:hover {
  background-color: black;
  width: 300px;
  height: 300px;
  transition: 2s;
}
